extends ../layouts/application.pug

block header
  a(href="/") Back to home page

block content
  h2 New user registration
  form(action='/users' method='post')
    div
      label Email
        input(type='text' name='email' value=form.email)
      if errors.email
        p= errors.email
    div
      label Name
        input(type='text' name='name' value=form.name)
      if errors.name
        p= errors.name
    div
      label Password
        input(type='password' name='password')
      if errors.password
        p= errors.password
    input(type='submit' value='Submit registration')