extends ../layouts/application.pug

block content
  h1 Edit topic
  form(action=`/topics/${topic.id}?_method=PATCH` method='post')
    div
      label Title
        input(type='text' name='title' value=form.title)
      if errors.title
        p= errors.title
    div
      label Body
        textarea(name='body' cols=70 rows=15)= form.body
      if errors.body
        p= errors.body
    input(type='submit' value='Save changes')