extends ../layouts/application.pug

block content
  .post(style="border: solid 1px; padding: 10px")
    h2(style="margin-top: 0px"): a(href=`/topics/${topic.id}`)= topic.title
    p(style="white-space: pre-wrap; border-width: 1px 0px; border-style: solid; min-height: 80px; padding: 10px 0px")= topic.body
    p(style="margin: 0px 0px"): i= `Posted: ${topic.creationDate.toLocaleString()} by ${topic.creator.name}`
    if topic.editor
      - const byEditor = topic.editor.name === topic.creator.name ? '' : ` by ${topic.editor.name}`
      p(style="margin: 0px 0px"): i= `Edited: ${topic.editionDate.toLocaleString()}${byEditor}`
    if topic.creator.id === currentUser.id || currentUser.isAdmin()
      a(href=`/topics/${topic.id}/edit`) Edit topic
      form(style="display: inline; margin-left: 10px" action=`/topics/${topic.id}?_method=DELETE` method='post')
        button(type='submit') Delete topic

  h3 Comments:
  if topic.comments.length === 0
    p There are no comments yet.
  else
    each comment in topic.comments
      .comment(style="border: solid 1px; padding: 10px; margin: 10px 0px")
        p(style="white-space: pre-wrap")= comment.body
        p(style="margin: 0px 0px"): i= `Posted: ${comment.creationDate.toLocaleString()} by ${comment.creator.name}`
        if comment.editor
          - const byEditor = comment.editor.name === comment.creator.name ? '' : ` by ${comment.editor.name}`
          p(style="margin: 0px 0px"): i= `Edited: ${comment.editionDate.toLocaleString()}${byEditor}`
        if comment.creator.id === currentUser.id || currentUser.isAdmin()
          a(href=`/topics/${topic.id}/comments/${comment.id}/edit`) Edit comment
          form(style="display: inline; margin-left: 10px" action=`/topics/${topic.id}/comments/${comment.id}?_method=DELETE` method='post')
            button(type='submit') Delete comment

  if !currentUser.isGuest()
    form(action=`/topics/${topic.id}/comments` method='post')
      textarea(name='body' cols=79 rows=5)= commentForm.body
      input(style="display: block" type='submit' value='Add comment')