extends ../layouts/application.pug

block content
  .post(style="border: solid 1px; padding: 10px")
    h2(style="margin-top: 0px")= topic.title
    p(style="white-space: pre-wrap; border-width: 1px 0px; border-style: solid; min-height: 80px; padding: 10px 0px")= topic.body
    p: i= `Posted by ${topic.creator.name} on ${topic.creationDate.toLocaleString()}`
    if topic.editor
      - const byEditor = topic.editor.name === topic.creator.name ? '' : ` by ${topic.editor.name}`
      p: i= `Edited: ${topic.editionDate.toLocaleString()}${byEditor}`
    if topic.creator.id === currentUser.id || currentUser.isAdmin()
      a(href=`/topics/${topic.id}/edit`) Edit
      form(style="display: inline" action=`/topics/${topic.id}?_method=DELETE` method='post')
        button(type='submit') Delete